.blog-post {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  table {
    min-height: .01%;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
  }

  tbody>tr>td, tbody>tr>th, tfoot>tr>td, tfoot>tr>th, thead>tr>td, thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: thin solid $color-gray-5;
  }
}