<section id="aboutus" class="pt-2 pt-md-8 pb-md-10 pb-2 bg-white text-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 px-md-2 px-lg-8 mb-4">
                <h2 class="h3 text-uppercase text-center">{{ page.about-us.column1Title }}</h2>
                <hr class="slab center w-10 mt-2 mb-3">
                <p>{{ page.about-us.column1Text | markdownify }}</p>
            </div>
            <div class="col-12 col-md-6 px-md-2 px-lg-8">
                <h2 class="h3 text-uppercase text-center">{{ page.about-us.column2Title }}</h2>
                <hr class="slab center w-10 mt-2 mb-3">
                <p>{{ page.about-us.column2Text | markdownify }}</p>
            </div>
        </div>
    </div>
</section>