<section id="intro" class="py-4 py-md-10 bg-white text-gray">
    {% if page.intro %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-6 offset-0 offset-md-1 offset-lg-3 px-md-4 text-center">
                {% if page.intro.title %}<h2 class="h3 mb-2">{{ page.intro.title }}</h2>{% endif %}
                <p>{{ page.intro.text | markdownify }}</p>
                <hr class="slab center w-25">
            </div>
        </div>
    </div>
    {% endif %}
</section>
