<!-- Navigation -->
<section id="main-nav">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="logo">
                    <a href="{{ site.github.url | replace: 'http://', '//' }}/">
                        <img src="/img/logo.svg" alt="{{ site.title }}" height="66">
                        <h1 class="d-none">{{ site.title }}</h1>
                    </a>
                </div>
            </div>
            <div class="col-10">
                <nav>
                    <div class="nav-list">
                        <ul>
                            {% for page in site.pages %}
                                {% if page.title %}
                                    {% if page.url != '/404.html' %}
                                    <!-- Don't generate navigtion for each generate page -->
                                        {% unless page.url contains '/page' %}
                                        <li>
                                            <a href="{{ page.url | prepend: site.github.url | replace: 'http://', '//'  }}" {% if page.title == page.active %} class="active" {% endif %}>{{ page.title }}</a>
                                        </li>
                                        {% endunless  %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="nav-btn">
                        <div class="icon icon-hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="nav-overlay"></div>
                </nav>
            </div>
        </div>
    </div>
</section>