<section id="team" class="pt-6 pt-md-2 pb-1 pb-md-10 text-gray">
    <div class="container">
        <div class="row">
            {% for member in page.team %}
            <div class="col-12 col-md-6 col-lg-4 mb-4 px-md-4">
                <div class="h-100 d-flex flex-column">
                    <div class="mb-3 ml-auto mr-auto rounded w-70 effects-img-scale o-hidden">
                        <img src="{{ member.photo }}" alt="p4" width="238" class="img-fluid rounded">
                    </div>
                    <div class="text-left">
                        <h3 class="h5 text-black font-family-bold">{{ member.name }}</h3>
                        <p class="m-0 text-black font-italic">{{ member.title }}</p>
                        <hr class="slab left mt-1 mb-2 w-25">
                    </div>
                    <div>
                        <p class="font-size-4">{{ member.description }}</p>
                    </div>
                    <div class="pb-2 mt-auto">
                        <a href="{{ member.contactLink }}" class="btn btn-primary">Contact me</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>