$author-img-size: 7.5rem;

.blog-post {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p, .footnotes, .post-footer {
    width: 100%;
  }

  @include headings(4rem, 0.6rem);

  ol, ul {

    color: $color-gray;
    @extend .font-size-5;
  }

  .row {
    margin-left: inherit;
    margin-right: inherit;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  table {
    min-height: .01%;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
  }

  div[class*=" highlighter-"] {
    width: 100%;
  }

  tbody>tr>td, tbody>tr>th, tfoot>tr>td, tfoot>tr>th, thead>tr>td, thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: thin solid $color-gray-5;
  }

  .author-image {
    display: inline-block;
    margin: 1rem 1.6rem;

    .img {
      background-size: contain;
      border-radius: 100%;
      display: block;
      height: $author-img-size;
      margin: 0 auto;
      width: $author-img-size;
    }
  }

  .author-location {
    padding-left: 2rem;
  }

  .author {
    display: inline-block;
    margin: 3rem 0;

    h4 a {
      color: $color-primary;
    }
  }

  .share {
    margin: 3rem 1.6rem;

    h4 {
      display: inline-block;
      margin-right: 2.5rem;
      width: inherit;
    }
  }

  .socicon {
    background: $color-primary;
    color: $color-white;

    &.tw {
      background: $color-twitter;
    }

    &.fb {
      background: $color-facebook;
    }

    &.gplus {
      background: $color-gplus;
    }
  }

  #disqus_thread {
    min-height: .01px;
    width: 100%;
  }

  .gist {
    width: 100%; 
    padding-left:50px !important; 
    padding-right:50px !important;
  }
  
}
