---
layout: default
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.github.url | replace: 'http://', '//' }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ content }}

            {% if author %}
            {% if author.image %}
            <figure class="author-image">
                <a class="img" href="{{ site.github.url | replace: 'http://', '//' }}author/{{ author.username }}"
                   style="background-image: url({{ site.github.url | replace: 'http://', '//' }}{{ author.image }})"><span class="hidden">{{ author.name }}'s Picture</span></a>
            </figure>
            {% endif %}

            <section class="author">
                <h4><a href="{{ site.github.url | replace: 'http://', '//' }}/author/{{ author.username }}">{{ author.name }}</a></h4>

                {% if author.bio %}
                <p> {{ author.bio }}</p>
                {% else %}
                <p>Read <a href="{{ site.github.url | replace: 'http://', '//'  }}/author/{{ author.nickname }}">more posts</a> by this author.
                </p>
                {% endif %}
                <div class="author-meta">
                    {% if author.location %}<span
                        class="author-location icon-location"> {{ author.location }}</span>{% endif %}
                    {% if author.url %}<span class="author-link icon-link"><a href="{{ author.url }}"> {{ author.url }}</a></span>{%
                    endif %}
                </div>
            </section>

            {% endif %}

        </div>
    </div>
</div>

<hr>