<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include nav.html %}

    {% include spotlight.html %}

    {% if page.intro %}
        {% include intro.html %}
    {% endif %}

    {% if page.team %}
        {% include team.html %}
    {% endif %}

    {{ content }}

    {% if page.services %}
        {% include services.html %}
    {% endif %}

    {% if page.about-us %}
        {% include about-us.html %}
    {% endif %}

    {% if page.testimonials %}
        {% include testimonials.html %}
    {% endif %}

    {% include footer.html %}

    {% include ga.html %}

</body>

</html>
